/*colors*/
.btn-up {
  border-radius: 12.6rem;
  background: hsl(322, 100%, 66%);
  color: #fff;
  font-weight: 700;
  opacity: 10;
  transition: 200mc;
  cursor: pointer;
}
.btn-up:hover {
  opacity: 8;
}

.btn-up {
  padding: 1.2rem 3.5rem;
  font-size: 0.9rem;
}

@media (max-width: 48rem) {
  .btn-up {
    font-size: 0.7rem;
  }
}
/*********************/
/*SETTING UP*/
/*********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*********************/
/*HERO*/
/*********************/
.hero {
  height: 100vh;
  background: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  background-image: url(/img/bg-hero-desktop.svg);
  background-size: cover;
}
.hero .content {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  max-width: 75rem;
  margin: 0 auto;
}
.hero .content .box:nth-child(1) {
  margin: 4rem 0;
}
.hero .content .box:nth-child(1) h1, .hero .content .box:nth-child(1) p {
  color: hsl(192, 100%, 9%);
}
.hero .content .box:nth-child(1) h1 {
  font-size: 2.5rem;
  width: 80%;
}
.hero .content .box:nth-child(1) p {
  width: 95%;
  line-height: 1.5rem;
  margin: 3rem 0;
}
.hero .content .box:nth-child(2) img {
  width: 40.625rem;
}

/*********************/
/*NAVBAR*/
/*********************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 3rem 0;
}
.navbar .logo {
  width: 13.125rem;
}
.navbar .btn-top {
  background: #fff;
  padding: 0.8rem 3.5rem;
  color: hsl(206, 4%, 31%);
  border-radius: 12.5rem;
  font-weight: 700;
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}

/*********************/
/*MAIN PAGE*/
/*********************/
.main-page {
  max-width: 75rem;
  margin: 0 auto;
  padding: 7rem 0 12rem 0;
}
.main-page .conteiner {
  margin: 2rem 0;
  border: 3px solid rgb(243, 239, 239);
  border-radius: 0.8rem;
}
.main-page .conteiner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
}
.main-page .conteiner .content .box:nth-child(1) p {
  color: hsl(206, 4%, 31%);
  margin: 1rem 0;
  width: 75%;
}
.main-page .conteiner .content .box:nth-child(2) img {
  width: 25rem;
}

/*********************/
/*MOBILE*/
/*********************/
@media (max-width: 75rem) {
  .hero .navbar {
    padding: 2rem 0.8rem;
  }
  .hero .content {
    padding: 0 0.8rem;
  }
}
@media (max-width: 64rem) {
  body {
    font-size: 0.938rem;
  }
  .main-page,
  .content {
    padding: 0 0.8rem;
  }
  .hero {
    height: 100%;
  }
  .hero .content .box:nth-child(1) {
    margin: 4rem 0;
  }
  .hero .content .box:nth-child(2) img {
    width: 100%;
  }
}
@media (max-width: 48rem) {
  .hero {
    background-image: url(/img/bg-hero-mobile.svg);
  }
  .hero .content {
    flex-direction: column-reverse;
    padding: 2rem 0.8rem;
    text-align: center;
  }
  .hero .content .box:nth-child(1) {
    margin: 2rem 0;
  }
  .hero .content .box:nth-child(1) h1, .hero .content .box:nth-child(1) p {
    width: 100%;
  }
  .hero .content .box:nth-child(1) h1 {
    font-size: 1.5rem;
  }
  .hero .content .box:nth-child(1) p {
    margin: 2rem 0;
  }
  .navbar {
    padding: 0 0.8rem;
  }
  .navbar .btn-top {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
  .navbar .logo {
    width: 6.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
