.btn-down, .btn-up {
  border-radius: 12.6rem;
  background: hsl(322, 100%, 66%);
  color: #fff;
  font-weight: 700;
  opacity: 10;
  transition: 200mc;
  cursor: pointer;
}
.btn-down:hover, .btn-up:hover {
  opacity: 0.8;
}

.btn-up {
  padding: 1.2rem 3.5rem;
  font-size: 0.9rem;
}
.btn-down {
  padding: 1.4rem 4rem;
  font-size: 1.2rem;
  border: 1px solid hsl(322, 100%, 66%);
}

@media (max-width: 48rem) {
  .btn-up {
    font-size: 0.7rem;
  }
  .btn-down {
    padding: 0.75rem;
    font-size: 1rem;
  }
  br {
    display: none;
  }
}
/*********************/
/*SETTING UP*/
/*********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*********************/
/*HERO*/
/*********************/
.hero {
  height: 100vh;
  background: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  background-image: url(/img/bg-hero-desktop.svg);
  background-size: cover;
}
.hero .content {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  max-width: 75rem;
  margin: 0 auto;
}
.hero .content .box:nth-child(1) {
  margin: 4rem 0;
}
.hero .content .box:nth-child(1) h1, .hero .content .box:nth-child(1) p {
  color: hsl(192, 100%, 9%);
}
.hero .content .box:nth-child(1) h1 {
  font-size: 2.5rem;
  width: 80%;
}
.hero .content .box:nth-child(1) p {
  width: 95%;
  line-height: 1.5rem;
  margin: 3rem 0;
}
.hero .content .box:nth-child(2) img {
  width: 40.625rem;
}

/*********************/
/*NAVBAR*/
/*********************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 3rem 0;
}
.navbar .logo {
  width: 13.125rem;
}
.navbar .btn-top {
  background: #fff;
  padding: 0.8rem 3.5rem;
  border-radius: 12.5rem;
  font-weight: 700;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
  color: hsl(206, 4%, 31%);
}

/*********************/
/*MAIN PAGE*/
/*********************/
.main-page {
  max-width: 75rem;
  margin: 0 auto;
  padding: 7rem 0 12rem 0;
}
.main-page .conteiner {
  margin: 2rem 0;
  border: 3px solid rgb(243, 239, 239);
  border-radius: 0.8rem;
}
.main-page .conteiner .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
}
.main-page .conteiner .content .box:nth-child(1) p {
  color: hsl(208, 11%, 55%);
  margin: 1rem 0;
  width: 85%;
}
.main-page .conteiner .content .box:nth-child(2) img {
  width: 30rem;
}
.main-page .conteiner .content .right {
  padding-right: 5rem;
}
.main-page .conteiner:nth-child(3) {
  margin: 0 0 10rem 0;
}

.row-reverse {
  flex-direction: row-reverse;
}

/************************/
/*card*/
/************************/
.card {
  border: 3px solid rgb(243, 239, 239);
  width: 800px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
  padding: 4rem;
  background: #fff;
}
.card h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
}

/*********************/
/*FOOTER*/
/*********************/
.footer {
  background: hsl(192, 100%, 9%);
  padding: 15rem 0 5rem 0;
}
.footer .conteiner {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  color: #fff;
}
.footer .conteiner .logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(2%) hue-rotate(65deg) brightness(111%) contrast(101%);
  padding: 1.5rem 0;
  width: 14rem;
}
.footer .conteiner .box:nth-child(1) .content {
  display: flex;
  padding-bottom: 1rem;
}
.footer .conteiner .box:nth-child(1) .content img {
  width: 0.75rem;
  height: 1.3rem;
  margin-right: 1rem;
}
.footer .conteiner .box:nth-child(1) .content p {
  width: #fff;
}
.footer .conteiner .box ul li {
  padding-bottom: 1rem;
}
.footer .conteiner .box ul li a {
  color: #fff;
  transition: 200mc;
}
.footer .conteiner .box ul li a:hover {
  color: hsl(322, 100%, 66%);
}
.footer .conteiner .box:nth-child(4) ul {
  display: flex;
}
.footer .conteiner .box:nth-child(4) li {
  margin-right: 1rem;
}
.footer .conteiner .box:nth-child(4) i {
  border: 1px solid #fff;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  line-height: 2.3rem;
  font-weight: 1.3rem;
}
.footer .conteiner .box:nth-child(4) i:hover {
  border: 1px solid hsl(322, 100%, 66%);
}
.footer .last-footer {
  display: flex;
  justify-content: end;
}

/************************/
/*MOBILE*/
/************************/
@media (max-width: 75rem) {
  .hero .navbar {
    padding: 2rem 0.8rem;
  }
  .conteiner {
    padding: 0 0.8rem;
  }
}
@media (max-width: 64rem) {
  body {
    font-size: 0.938rem;
  }
  .main-page,
  .content {
    padding: 0 0.8rem;
  }
  .hero {
    height: 100%;
  }
  .hero .content .box:nth-child(1) {
    margin: 4rem 0;
  }
  .hero .content .box:nth-child(2) img {
    width: 100%;
  }
}
.main-page {
  padding: 7rem 0.8rem 12rem 0.8rem;
}

@media (max-width: 48rem) {
  .hero {
    background-image: url(/images/bg-hero-mobile.svg);
  }
  .hero .content {
    flex-direction: column-reverse;
    padding: 2rem 0.8rem;
    text-align: center;
  }
  .hero .content .box:nth-child(1) {
    margin: 2rem 0;
  }
  .hero .content .box:nth-child(1) h1, .hero .content .box:nth-child(1) p {
    width: 100%;
  }
  .hero .content .box:nth-child(1) h1 {
    font-size: 1.5rem;
  }
  .hero .content .box:nth-child(1) p {
    margin: 2rem 0;
  }
  .hero .content .left {
    margin-right: 0;
  }
  .navbar {
    padding: 0 0.8rem;
  }
  .navbar .logo {
    width: 6.5rem;
  }
  .navbar .btn-top {
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
  .main-page {
    padding: 2rem 0.8rem 6rem 0.8rem;
  }
  .main-page .conteiner {
    margin: 2rem 0;
  }
  .main-page .conteiner .content {
    flex-direction: column-reverse;
    padding: 3rem 0.3rem;
  }
  .main-page .conteiner .content .box:nth-child(1) {
    margin: 0 0.5rem;
  }
  .main-page .conteiner .content .box:nth-child(1) p {
    margin: 1rem 0;
    width: 100%;
  }
  .main-page .conteiner .content .box:nth-child(2) img {
    width: 100%;
  }
  .main-page .conteiner:nth-child(3) {
    margin: 0 0 10rem 0;
  }
  .card {
    width: 90%;
    padding: 1rem;
  }
  .card h2 {
    font-size: 1rem;
  }
  .footer {
    padding: 10rem 0 2rem 0;
  }
  .footer .conteiner .logo {
    width: 10rem;
  }
  .footer .conteiner {
    flex-direction: column;
  }
  .footer .conteiner .box ul {
    padding: 0 0.8rem;
    margin: 1rem 0;
  }
  .footer .conteiner .box:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .last-footer {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
