/*colors*/
$color:(
  --vary-pale-cyan: hsl(193, 100%, 96%),
  --vary-dark-cyan: hsl(192, 100%, 9%),
  --grayish-blue: hsl(206, 4%, 31%),
  --Pink: hsl(322, 100%, 66%)

);

@function color($colors){
  @return  map-get($color, $colors)
};


%btn-share{
  border-radius:12.6rem;
  background:color(--Pink);
  color:#fff;
  font-weight:700;
  opacity:10;
  transition:200mc;
  cursor: pointer;
  &:hover{opacity:0.8;}
}

.btn{
  &-up{
    @extend %btn-share;
    padding:1.2rem 3.5rem;
    font-size:0.9rem;
  }
  &-down{
    @extend %btn-share;
    padding:1.4rem 4rem;
    font-size:1.2rem;
    border:1px solid color(--Pink);
  }
}


@media(max-width:48rem){
  .btn{
    &-up{font-size:0.7rem;}
    
    &-down{
      padding:0.75rem;
      font-size:1rem;
    }
  }
  
}