/*********************/
    /*SETTING UP*/
/*********************/
@use '../scss/global' as c;
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size:1.125rem;
}

ul{list-style:none;}

a{text-decoration:none;}


@mixin row{
    max-width:75rem;
    margin:0 auto;
}

/*********************/
      /*HERO*/
/*********************/

.hero{
    height:100vh;
    background:c.color(--vary-pale-cyan);
    background-repeat:no-repeat;
    background-image: url(/img/bg-hero-desktop.svg);
    background-size: cover;
    .content{
        display:flex;
        justify-content:center;
        padding-top:1rem;
        @include row();
        .box:nth-child(1){
            margin:4rem 0;
            h1,p{color: c.color(--vary-dark-cyan);}
            h1{
                font-size:2.5rem;
                width:80%;
            }
            p{
              width:95%;
              line-height: 1.5rem;
              margin:3rem 0;
            }
        }
        .box:nth-child(2){
            img{width:40.625rem;}
        }
    }
}
/*********************/
      /*NAVBAR*/
/*********************/
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    @include row();
    padding:3rem 0;
    .logo{width:13.125rem;}

    .btn-top{
        background:#fff;
        padding:0.8rem 3.5rem;
        border-radius:12.5rem;
        font-weight:700;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
        color:c.color(--grayish-blue-change);
    }
}

/*********************/
     /*MAIN PAGE*/
/*********************/
.main-page{
    @include row();
    //padding:1rem 0 12rem 0;
    .conteiner{
        margin:2rem 0;
        border:3px solid  rgb(243, 239, 239);
        border-radius:0.8rem;
        .content{
            display:flex;
            justify-content:center;
            align-items:center;
            padding:4rem 3rem;
            .box:nth-child(1){
                p{
                    color:c.color(--grayish-blue);
                    margin:1rem 0;
                    width:75%;
                }
            }
            .box:nth-child(2){img{width:25rem;}}
           
            
            .right{
              padding-right: 5rem;
            }
        }
    }
    .conteiner:nth-child(3){margin:0 0 10rem 0;}

}
.row-reverse{flex-direction: row-reverse;}

/************************/
        /*card*/
/************************/
.card{
  border:3px solid  rgb(243, 239, 239);
  width: 800px;
  text-align: center;
  position: absolute;
  left:50%;
  transform: translate(-50%);
  border-radius: 1rem;
  padding: 4rem;
  background:#fff;
  h2{
    padding-bottom:2rem;
    font-size: 2rem;
  }
}

/*********************/
      /*FOOTER*/
/*********************/
.footer{
    background:c.color(--vary-dark-cyan);
    padding:15rem 0 5rem 0;
    .conteiner{
        display:flex;
        justify-content:space-between;
        @include row();
        color: #fff;
        .logo{
            filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(2%)
            hue-rotate(65deg) brightness(111%) contrast(101%);
            padding:1.5rem 0;
            width:14rem;
        }
        .box:nth-child(1){
            .content{
                display:flex;
                padding-bottom:1rem;
                img{
                    width:0.75rem;
                    height:1.3rem;
                    margin-right:1rem;
                }
                p{width:#fff;}
            }
        }
        .box ul li{
            padding-bottom:1rem;
            color:#fff;
            a{
                color:#fff;
                transition:200mc;
                &:hover{color: c.color(--Pink);}
            }
        }
        .box:nth-child(4){
            ul{display:flex;}
            li{margin-right:1rem;}
            i{
                border:1px solid #fff;
                width:2.5rem;
                height:2.5rem;
                text-align: center;
                border-radius:50%;
                line-height:2.3rem;
                font-weight:1.3rem;
                &:hover{border:1px solid c.color(--Pink);}
            }
        }
       
    }
    .last-footer{
        display:flex;
        justify-content:end;
        
    }
}


/************************/
        /*MOBILE*/
/************************/
@media(max-width:75rem){
    .hero
    .navbar{padding:2rem 0.8rem;}
    .conteiner{padding:0 0.8rem;}
  }
  
  @media(max-width:64rem){
    body{font-size:0.938rem;}
   .main-page,
   .content{padding:0 0.8rem;}
   
   .hero{
    height:100%;
    .content{
      .box:nth-child(1){margin:4rem 0;}
      .box:nth-child(2){img{width:100%;}}
    }
  }
  }
  .main-page{padding:7rem  0.8rem 12rem 0.8rem;}
  
  @media(max-width:48rem){
   .hero{
    background-image: url(/images/bg-hero-mobile.svg);
    .content{
      flex-direction: column-reverse;
      padding:2rem 0.8rem;
      text-align: center;
      .box:nth-child(1){
        margin:2rem 0;
        h1,p{width:100%;}
        h1{font-size: 1.5rem;}
        p{margin:2rem 0;}
      }

      .left{margin-right:0;}

      .right{padding-right:0;}
    }
   
  } 
    
  .navbar{
    padding:0 0.8rem;
    .logo{width:6.5rem;}
    .btn-top{
      padding:0.3rem 1rem;
      font-size:0.8rem;
    }
   }
  
  .main-page{
    padding:2rem  0.8rem 6rem 0.8rem;
    .conteiner{
      margin:2rem 0;
      .content{
        flex-direction:column-reverse;
        padding:3rem 0.3rem;
        .box:nth-child(1){
          margin:0 0.5rem;
          p{
            margin:1rem 0;
            width:100%;
          }
        }
        .box:nth-child(2){img{width:100%;}}
      }
    }
   .conteiner:nth-child(3){margin:0 0 10rem 0;} 

   
  }
  
  .card{
    width:90%;
    padding:1rem;
    h2{font-size:1rem;}
  }
  .footer{
    .conteiner{
        .logo{width:10rem;}
    }
    padding:10rem 0 2rem 0;
    .conteiner{
      .box ul{
        padding:0 0.8rem;
        margin:1rem 0;
      }
      flex-direction: column;
      .box:nth-child(4){
        display: flex;
        justify-content:center;
        align-items: center;
      }
    } 
  }
  .last-footer{text-align:center;}
  
  }



 